.mainWordsLearnt {
  padding: 0.5rem 1rem 2rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: flex-end;
  background-color: var(--white);
  border-radius: 1rem;
  border: 3px solid #ededed;
  width: 100%;
  max-width: calc((344 / 16) * 1rem);
  position: relative;
  z-index: 11;
  margin: 5rem auto;
}

.mainWordsLearnt p,
.mainWordsLearnt h2 {
  text-align: center;
}

.mainWordsLearnt span {
  color: var(--red);
}
